<div fxLayout="row" fxLayoutAlign="space-between center">
  <label class="angelhack-utils__page-label">List of Reports</label>
  <span></span>
</div>
<angelhack-table
  [columns]="columns"
  [source]="report_list"
  (onView)="openReportDetailsDialog($event)">
  
  <!--tr>
    <th>Username</th>
    <td>(report_list|async)?.username</td>

    <th>Type</th>
    <td>(report_list.async)?.type</td>

    <th>Date</th>
    <td>(report_list.async)?.date</td>

    <th>Action</th>
    <td></td>
  </tr-->

</angelhack-table>

