/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-red, 500);
$candy-app-accent:  mat-palette($mat-light-blue, 900);
$candy-app-warn:    mat-palette($mat-pink);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

body {
  background-color: #e8e8e8;
  color: rgba(0,0,0,.87);
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

.angelhack-utils__page-label {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 3;
}

.angelhack-utils__w-100 {
  width: 100%;
}
