.mmda-header-image{
    background-image: url('mmda.png');
    background-size:cover;
}

.lto-header-image{
    background-image: url('lto.png');
    background-size:cover;
}

.lgu-header-image{
    background-image: url('lgu.png');
    background-size:cover;
}

.angelhack-category__avatar {
  background-size:cover;
}

mat-card {
  min-width: 300px;
}
