.angelhack-report-details-dialog__container {
  min-height: 600px;
}

.angelhack-report-details-dialog__container-content {
  overflow-x: auto;
}

.report-field-title {
  font-weight: 500;
}

.report-user-info {
  font-size: 16px;
}

.report-description {
  font-size: 12px;
}
