<div fxLayout="column" fxLayoutAlign="space-between stretch" class="angelhack-report-details-dialog__container">
  <div mat-dialog-title>
    Report Details
  </div>
  <div mat-dialog-content fxFlex class="angelhack-report-details-dialog__container-content">
    <p class="report-user-info">
      <label class="report-field-title">User: </label>
      <span class="report-field-content">{{ details.userName }}</span>
    </p>
    <p>
      <label class="report-field-title">Type: </label>
      <span class="report-field-content">{{ details.type }}</span>
    </p>
    <p class="report-description">
      <label for="" class="report-field-title">Description: </label>
      <span class="report-field-content">{{ details.description }}</span>
    </p>
    <div>
      <mat-tab-group>
        <mat-tab label="Attachments">
          <img [src]="details.attachments" alt="" class="angelhack-report-details-dialog__attachment">
        </mat-tab>
        <mat-tab label="Location">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="rejectReport()">Reject</button>
    <button mat-raised-button color="accent" (click)="approveReport()">Approve</button>
  </div>
</div>
