<mat-toolbar color="primary">
  <mat-toolbar-row
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="mat-elevation-z2">
    <div fxLayout="row" fxLayoutAlign="start center">
      <ng-content></ng-content>
      <span [matTooltip]="description">{{ appName }}</span>
    </div>
    <span></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>  Account Settings
  </button>
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon> Preferences
  </button>
  <button mat-menu-item routerLink="/">
    <mat-icon>settings_power</mat-icon> Logout
  </button>
</mat-menu>
